@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

::placeholder {
  color: var(--grayish-cyan);
}

.container {
  background-color: var(--light-grayish-cyan);
  font-family: "Space Mono", monospace;
  font-size: 24px;
}

.mainTitle {
  text-align: center;
  font-size: 1.2em;
  letter-spacing: .5rem;
  padding: 3rem;
}

.mainTitle span {
  display: block;
  color: var(--very-dark-cyan);
}

.calculatorContainer {
  background-color: var(--white);
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 2rem 0;
}

.numberLabel {
  display: block;
  margin-bottom: .5rem;
  color: var(--dark-grayish-cyan);
  font-size: .7em;
  position: relative;
}

.numberLabel.inputError::after {
  content: "Can't be zero";
  position: absolute;
  top: 0;
  right: 0;
  color: orange;
  font-size: .9em;
}

.numberInput {
  border-radius: .25rem;
  text-align: right;
  width: 100%;
  padding: .5rem 1.5rem .5rem 0;
  color: var(--very-dark-cyan);
  position: relative;
}

.numberInput:focus {
  outline: 3px solid var(--strong-cyan);
}

.numberInput.inputError {
  outline: 3px solid orange;
}

.numberInput.inputError::after {
  content: "siema";
  position: absolute;
  top: 0;
  right: 0;
  color: red;
}

.inputsWrapper {
  width: 90%;
  max-width: 30rem;
  margin-inline: auto;
}

.tipButtonsGroup {
  margin: 2rem 0;
}

.tipButtonsGroup > p {
  font-size: .7em;
  margin-bottom: 1rem;
  color: var(--dark-grayish-cyan);
}

.buttonsWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.tipButton {
  outline: none;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  padding: .5rem;
  text-align: center;
  border-radius: .5rem;
}

.tipButton.activeButton {
  background-color: var(--strong-cyan);
}

.tipButton:hover {
  cursor: pointer;
  background-color: var(--light-grayish-cyan);
  color: var(--very-dark-cyan);
}

.summaryWrapper {
  background-color: var(--very-dark-cyan);
  border-radius: .5rem;
  padding: 1.5rem;
  width: 90%;
  max-width: 30rem;
  /* margin-inline: auto; */
  margin: 1rem auto;
}

.summaryWrapper p {
  position: relative;
  font-size: .7em;
  color: var(--white);
  /* margin-bottom: 3rem; */
}

.summaryWrapper p::after {
  content: "/\00a0person";
  position: absolute;
  top: 1.5rem;
  left: 0;
  color: var(--dark-grayish-cyan);
  font-size: .8em;
}

.resetButton {
  cursor: pointer;
  padding: .5rem;
  width: 100%;
  border-radius: .5rem;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  margin-top: 3rem;
}

.resetButton:hover {
  background-color: var(--light-grayish-cyan);
}

.resetButton.inactiveButton {
  background-color: var(--grayish-cyan);
}

.summaryContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1.5em;
  color: var(--strong-cyan);
}

@media screen and (width >= 1024px) {
  .container {
    min-height: 100vh;
    min-height: 100svh;
    display: grid;
    place-content: center;
  }

  .mainTitle {
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    position: absolute;
  }

  .calculatorContainer {
    display: flex;
    margin-inline: auto;
    border-radius: 1.5rem;
    padding: 2rem;
    gap: 3rem;
  }

  .buttonsWrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .inputsWrapper {
    margin: auto auto;
  }

  .summaryWrapper {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1.5rem;
  }

  .summaryWrapper, .inputsWrapper {
    margin: 0;
  }

  .inputsWrapper {
    margin: auto;
  }

  .tipButtonsGroup {
    margin: 4rem 0;
  }

  .price {
    font-size: 2em;
  }
}

