@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.container {
  font-family: "Righteous", cursive;
  background-color: whitesmoke;
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.menu {
  display: flex;
}

.menuItems {
  cursor: pointer;
  margin-left: 1rem;
  z-index: 2;
}

.pattern {
  height: 100vh;
  height: 100svh;
  width: 100vw;
  background-image: radial-gradient(rgba(0, 0, 0, 0.1) 9%, transparent 9%);
  background-position: 0% 0%;
  background-size: 10vmin 10vmin;
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 1; */
  transition: 300ms ease-in-out;
}

.menuLink {
  font-size: clamp(2rem, 1.0367rem + 4.4037vw, 4rem);
  /* font-size: 2rem; */
  display: block;
  padding-bottom: 2rem;
  /* z-index: 10; */
}

.linkText {
  display: block;
  transition: 500ms;
  width: max-content;
}

.sideWrapper {
  backdrop-filter: blur(5px);
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  height: 100svh;
  width: max-content;
  transition: 300ms ease-in-out;
  transform: translateX(100%);
  opacity: 0;
  z-index: -1;
}

.preview {
  font-size: 5em;
  letter-spacing: 2rem;
  text-align: center;
}

.menuItems:hover .linkText {
  opacity: 0.4;
}

.menuItems:hover ~ .pattern {
  background-size: 8vmin 8vmin;
}

.menuLink:hover .linkText {
  transform: translateX(3rem);
  opacity: 1;
}

.menuLink:hover:nth-child(1) ~ .sideWrapper:nth-child(2) {
  transform: translateX(0);
  opacity: 1;
}

.menuLink:hover:nth-child(3) ~ .sideWrapper:nth-child(4) {
  transform: translateX(0);
  opacity: 1;
}

.menuLink:hover:nth-child(5) ~ .sideWrapper:nth-child(6) {
  transform: translateX(0);
  opacity: 1;
}

.menuLink:hover:nth-child(7) ~ .sideWrapper:nth-child(8) {
  transform: translateX(0);
  opacity: 1;
}

.menuLink:hover:nth-child(9) ~ .sideWrapper:nth-child(10) {
  transform: translateX(0);
  opacity: 1;
}

#menu[data-active-index="1"] > .pattern {
  background-position: 0% -20%;
}

#menu[data-active-index="2"] > .pattern {
  background-position: 0% -40%;
}

#menu[data-active-index="3"] > .pattern {
  background-position: 0% -60%;
}

#menu[data-active-index="4"] > .pattern {
  background-position: 0% -80%;
}

#menu[data-active-index="5"] > .pattern {
  background-position: 0% -100%;
}

.note {
  width: 100%;
  position: absolute;
  bottom: 0.5rem;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.infoIcon {
  font-size: 1.5em;
}

.note a {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (width <= 1024px) {
  .menuItems {
    margin-left: 1rem;
  }

  .sideWrapper {
    display: none;
    opacity: 0;
  }
}
