*::before, *::after, * {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

input,
button,
textarea,
select {
  outline: none;
  border: none;
  font: inherit;
  box-sizing: border-box;
}


.react-switch-bg {
  background: linear-gradient(to right, var(--primary-gradient), var(--secondary-gradient)) !important;
  /* outline: none !important; */
}

/* div:has(.react-switch-bg):hover .react-switch-bg{
  background: black !important;
  transition: none !important;
} */
